/* 
===========
Global Styles
===========
*/

:root {
  --clr-bcg: #f3f8fe;
  --clr-font: #9dc2f6;
  --clr-primary: #2b7ff2;
  --clr-secondary: #0367f0;
}

.dark-theme {
  --clr-bcg: #3a3d42;
  --clr-font: #2e3a4b;
  --clr-primary: #09182d;
  --clr-secondary: #14253c;
}

.light-theme {
  --clr-bcg: #f3f8fe;
  --clr-font: #9dc2f6;
  --clr-primary: #0367f0;
  --clr-secondary: #0367f0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-bcg);
}

.-pointer {
  cursor: pointer;
}
